# Department-local Windows defaults. Replace the MySQL password and local admin hash locally.
SKILL_CENTER_MYSQL_URL=jdbc:mysql://127.0.0.1:3306/skillcenter?useUnicode=true&characterEncoding=utf8&serverTimezone=Asia/Shanghai
SKILL_CENTER_MYSQL_USERNAME=skillcenter
SKILL_CENTER_MYSQL_PASSWORD=CHANGE-ME
SKILL_CENTER_PACKAGE_STORAGE=./data/packages
SKILL_CENTER_GOVERNANCE_STORAGE=./data/governance/state.json
SKILL_CENTER_LOCAL_ADMIN_USERNAME=admin
SKILL_CENTER_LOCAL_ADMIN_PASSWORD_HASH=pbkdf2-sha256$120000$U2tpbGxDZW50ZXJMb2NhbFNhbHQ$e1QnAQ19YTm-zmHQ-memEz1EjWy_2I4x7jDuO9nOj2k
